@{
    ViewBag.Title = "Acerca";
}

<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Acerca del Visor de Servicio Web: Mapa Global de Publicaciones (Amazonía)</h2>
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">
    <div class="col-md-12">
        <p class="justificado">
            El Visor de Servicio Web es una iniciativa ambiciosa que permite hacer consultas, búsquedas y el análisis de la información sobre las investigaciones y publicaciones realizadas en la Región Loreto ahora, y con perspectivas a cubrir el territorio de Amazonía peruana a futuro. Mediante este servicio el usuario puede generar búsquedas especializadas y georreferenciadas publicadas en la revista científica FOLIA Amazónica del Instituto de Investigaciones de la Amazonía peruana que datan desde 1989. Además, los interesados en ser parte del servicio web, tienen la opción de generar una cuenta desde donde pueden registrar sus publicaciones para que éstas sean visualizadas en el mapa. Este mapa ayuda a conocer los sitios en el territorio donde se han hecho estudios y donde aún no los hay, convirtiéndose en una herramienta útil para identificar sitios y temas de investigación, facilitando de esta manera la toma de decisiones.         
        </p>
        <h3>Perspectivas:</h3>
        <p class="justificado">
            La información que se muestra en la actualidad está restringida a las publicaciones de la Revista FOLIA Amazónica cubriendo sólo la Región Loreto. Estamos trabajando para que los datos se amplíen y cubran la totalidad del territorio amazónico. En este proceso la participación de otras entidades y personas involucradas en la investigación científica mediante el registro sus estudios, será clave.
        </p>
        <h3>Autores: </h3>
        <ul>
            <li>Ricardo Zárate Gómez (1)</li>
            <li>Juan José Palacios Vega (1)</li>
            <li>Nina Inés Jung (2)</li>
            <li>María Claudia Ramos Rodríguez (3)</li>
            <li>Elmer Alfredo Méndez Torres (1)</li>
            <li>Linder Felipe Mozombite Pinto (4)</li>
            <li>Anita Rocío Jarama Vilcarromero (1)</li>
            <li>Lizardo Manuel Fachín Malaverri (1)</li>
            <li>Indira Rondona Vásquez (1) </li>
            <li>Américo Sánchez Cosavalente (1)</li>
            <li>Amado Romeo Domper Rodriguez (1)</li>
            <li>Joao Valentinno Pinheiro Rodríguez (1)</li>
        </ul>

        <ul class="lista-inst">
            <li>(1)	Instituto de Investigaciones de la Amazonía Peruana – IIAP</li>
            <li>(2)	Universidad Nacional Autónoma de México</li>
            <li>(3)	CANATURA Iquitos y SADES PERÚ</li>
            <li>(4)	Servicio de Biodiversidad</li>
        </ul>

        <h3>Cita sugerida:</h3>
        <p class="justificado">
            Si necesita citar esta página web, le sugerimos la siguiente forma:
            <br />Zárate, R.; Palacios, J. J.; Jung, N. I.; Ramos, M. C.; Méndez, E. A.; Mozombite, L. F.; Jarama, A. R.; Fachín, L. M.; Rondona, I.; Sánchez, A.; Domper A. R. y Pinheiro, J. V. [en línea]: 2017- hasta la fecha. Iniciativa Visor de Servicio Web: Mapa Global de Publicaciones (Loreto). Instituto de Investigaciones de la Amazonía Peruana. Versión 1. Iquitos, Perú. www.iiap.org.pe/mapa_publicaciones.
        </p>
    </div>
</div>
