@{
    ViewBag.Title = "Contacto";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">
            Contacto
        </h2>
        <p>
            <strong>Dirección:</strong> Av. José A. Quiñones km 2.5, Iquitos, Loreto. Perú. Apartado Postal 784<br>
            <strong>Teléfonos:</strong> 051 (65)- 265515; (65) 265516<br>
            <strong>Correo electrónico: </strong>visordepublicaciones@iiap.org.pe<br>
            @*<strong>Presidente:</strong> Dr. Luis Exequiel Campos Baca*@
        </p>
    </div>

</div>
