
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Historial Publicación</title>
    <link href="~/Content/css/historial/historial.css" rel="stylesheet" />
    <script src="~/Content/js/historial/historial.js"></script>

    <script type="text/javascript">
        var x;
        function CargaHistorialDet() {

            let id = window.location.href.split("/")[5];

            let req = new XMLHttpRequest();
            req.open('GET', 'http://localhost:59423/api/PublicacionApi/GetHistorialDet?id=' + id, true);
            req.setRequestHeader('Content-Type', 'application/json');

            req.onload = function () {
                if (req.status >= 200 && req.status < 400) {
                    console.log(JSON.parse(req.responseText));

                    let list = JSON.parse(req.responseText);
                    ListHistoryTemplate(list.Historial);
                } else {
                    console.log('We encountered an error!');
                }
            }

            req.send();
        }

        CargaHistorialDet();

        function ListHistoryTemplate(list) {

            let html = "";
            if (list != undefined) {
                for (let i = 0, j = list.length; i < j; i++) {

                    let fecha = list[i].fecha.substring(0, 10).split("-");
                    fecha = fecha[2] + "/" + fecha[1] + "/" + fecha[0];
                    html += `<div class="cd-timeline__block">
                                <div class="cd-timeline__img ${GetImage(list[i].estado)}">
                                    <img src="../../Content/img/historial/${GetImage(list[i].estado)}.svg" alt="Picture">
                                </div>
                                <div class="cd-timeline__content text-component">
                                    <h2>${GetTitle(list[i].estado)}</h2>
                                    <p class="color-contrast-medium">
                                        ${ list[i].estado == 1 ? list[i].nombre + ', ha registrado una nueva solicitud de publicación. Favor de revisar su contenido:' :
                                            list[i].estado == 2 ?  'Muchas gracias por registrar su publicación.' : list[i].desc}
                                    </p>
                                    <div class="flex justify-between items-center">
                                        <span class="cd-timeline__date">${fecha + " " + list[i].fecha.substring(11, 16)}</span>
                                        ${list[i].estado == 1 ? '<a href="#0" class="btn btn--primary">Revisar</a>' : '' }
                                    </div>
                                </div>
                            </div>`;
                    console.log(list[i]);
                }
                document.getElementById("ctnList").innerHTML = html;
            }
        }

        function GetImage(e) {
            switch (e) {
                case 1:
                    return "solicitado";
                    break;
                case 2:
                    return "aprobado";
                    break;
                case 3:
                    return "observado";
                    break;
                case 4:
                    return "rechazado";
                    break;
            }
        }

        function GetTitle(e) {
            switch (e) {
                case 1:
                    return "Solicitud de Aprobación";
                    break;
                case 2:
                    return "¡Solicitud Aprobada!";
                    break;
                case 3:
                    return "Se encontrarón observaciones";
                    break;
                case 4:
                    return "Solicitud Rechazada";
                    break;
            }
        }



    </script>
</head>
<body>
    <section class="cd-timeline js-cd-timeline">
        <div class="header"><h3>HISTORIAL</h3></div>
        <div id="ctnList" class="container max-width-lg cd-timeline__container">
            @*<div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--picture">
                    <img src="~/Content/img/historial/documento.svg" alt="Picture">
                </div>
                <div class="cd-timeline__content text-component">
                    <h2>Title of section 1</h2>
                    <p class="color-contrast-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">Jan 14</span>
                        <a href="#0" class="btn btn--subtle">Read more</a>
                    </div>
                </div>
            </div>
            <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--movie">
                    <img src="~/Content/img/historial/lupa.svg" alt="Movie">
                </div>
                <div class="cd-timeline__content text-component">
                    <h2>Title of section 2</h2>
                    <p class="color-contrast-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">Jan 18</span>
                        <a href="#0" class="btn btn--subtle">Read more</a>
                    </div>
                </div>
            </div>
            <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--picture cd-timeline__img--bounce-in">
                    <img src="~/Content/img/historial/triste.svg" alt="Picture">
                </div>
                <div class="cd-timeline__content text-component cd-timeline__content--bounce-in">
                    <h2>Title of section 3</h2>
                    <p class="color-contrast-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">Jan 24</span>
                        <a href="#0" class="btn btn--subtle">Read more</a>
                    </div>
                </div>
            </div>
            <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--picture cd-timeline__img--bounce-in">
                    <img src="~/Content/img/historial/fuegos-artificiales.svg" alt="Location">
                </div>
                <div class="cd-timeline__content text-component cd-timeline__content--bounce-in">
                    <h2>Title of section 4</h2>
                    <p class="color-contrast-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">Feb 14</span>
                        <a href="#0" class="btn btn--subtle">Read more</a>
                    </div>
                </div>
            </div>
            <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--location cd-timeline__img--bounce-in">
                    <img src="~/Content/img/historial/globos.svg" alt="Location">
                </div>
                <div class="cd-timeline__content text-component cd-timeline__content--bounce-in">
                    <h2>Title of section 5</h2>
                    <p class="color-contrast-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">Feb 18</span>
                        <a href="#0" class="btn btn--subtle">Read more</a>
                    </div>
                </div>
            </div>
            <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--movie cd-timeline__img--bounce-in">
                    <img src="~/Content/img/historial/globos (1).svg" alt="Movie">
                </div>
                <div class="cd-timeline__content text-component cd-timeline__content--bounce-in">
                    <h2>Final Section</h2>
                    <p class="color-contrast-medium">This is the content of the last section</p>
                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">Feb 26</span>
                    </div>
                </div>
            </div>
            <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--movie cd-timeline__img--bounce-in">
                    <img src="~/Content/img/historial/fuegos-artificiales (1).svg" />
                </div>
                <div class="cd-timeline__content text-component cd-timeline__content--bounce-in">
                    <h2>Final Section</h2>
                    <p class="color-contrast-medium">This is the content of the last section</p>
                    <div class="flex justify-between items-center">
                        <span class="cd-timeline__date">Feb 26</span>
                    </div>
                </div>
            </div>*@
        </div>
    </section>
</body>
</html>
