@{
    Layout = "~/Views/Shared/_LayoutGestion.cshtml";
}

<script type="text/javascript">

    //function GetAlertas(nPage, nSize) {
    //    $.fn.Conexion({
    //        direccion: 'http://localhost:59423/Gestion/GetAlertas',
    //        datos: { "nPage": nPage, "nSize": nSize },
    //        bloqueo: true,
    //        terminado: function (data) {
    //            var d = JSON.parse(data);

    //            console.log(d);
    //        }
    //    });
    //}

    //GetAlertas(1, 5);

</script>

<div class="row color19">

</div>