@{
    ViewBag.Title = "Acerca";
}

<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Acerca del proyecto</h1>
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">
    <div class="col-md-12">
        <h3>Iniciativa del Servicio Web del Mapa Global de Publicaciones</h3>
        <p class="justificado">
            La presente página web es una iniciativa ambiciosa para elaborar un mapa de las investigaciones y publicaciones realizadas en el territorio, primero amazónico en el Perú y luego esperamos extenderlo en el resto del territorio. Se pueden generar búsquedas especializadas por divisiones políticas y otras formas. También se puede generar cuentas de usuario para someter el área de estudio de sus publicaciones, las cuales serán atendías por los administradores a la brevedad posible, esto permitirá una actualización de mapa.
           El mapa de coordenadas geográficas de las publicaciones ayudará a conocer panorámicamente las áreas y los componentes estudiados, y también identificaremos los territorios menos investigados; convirtiéndose en una herramienta de toma de decisiones para priorizar lugares y áreas temáticas optimizando recursos.
           Esperamos que a esta iniciativa se incluyan otras entidades y personas que generan o no información. También sería muy útil que las revistas consideren como requisito para publicar artículos científicos la inclusión del área donde se realizó la investigación en la presente página web.
           La investigación científica requiere de antecedentes, es decir, de estudios publicados sobre el tema de referencia. En Amazonía peruana se han venido realizando muchos estudios sobre diferentes aspectos que abarcan las ciencias naturales y sociales. Muchos de estos estudios han sido publicados en la revista del Instituto de Investigaciones de la Amazonía Peruana (IIAP), titulada “FOLIA Amazónica” desde 1989.
           El “Mapa de publicaciones en Loreto” tiene por objetivo mostrar los artículos científicos que se han publicado en FOLIA resaltando su ubicación geográfica. Este mapa permite dar a conocer las áreas temáticas, los componentes estudiados mediante la visualización del componente espacial (coordenadas). Este hecho contribuirá a identificar el territorio menos investigado, inclusive. Conociendo estas particularidades la página web se convierte en un medio para tomar decisiones o simplemente tener una idea del estado de la investigación científica en Loreto.
        </p>
        <h3>Limitaciones</h3>
        <p class="justificado">
            Actualmente este mapa está limitado a las publicaciones de la Revista Folia Amazónica para el departamento de Loreto. Esperamos que pronto entidades y personas se unan a este esfuerzo para continuar enriqueciendo este mapa tanto para las otras publicaciones que faltan y aumentar otros departamentos y otros países.
        </p>
        <h3>Autores</h3>
        <ul>
            <li>Ricardo Zárate Gómez (Instituto de Investigaciones de la Amazonía Peruana).</li>
            <li>Juan José Palacios Vega (Instituto de Investigaciones de la Amazonía Peruana).</li>
            <li>Nina Ines Jung (Universidad Nacional Autónoma de México).</li>
            <li>María Claudia Ramos Rodríguez (CANATURA Iquitos y SADES PERÚ).</li>
            <li>Elmer Alfredo Mendez Torres (Instituto de Investigaciones de la Amazonía Peruana).</li>
            <li>Linder Felipe Mozombite Pinto (Servicios de Biodiversidad).</li>
            <li>Anita Rocio Jarama Vilcarromero  (Instituto de Investigaciones de la Amazonía Peruana).</li>
            <li>Lizardo Manuel Fachín Malaverri (Instituto de Investigaciones de la Amazonía Peruana).</li>
            <li>Indira Rondona Vásquez (Instituto de Investigaciones de la Amazonía Peruana).</li>
            <li>Joao Valentinno Pinheiro Rodriguez (Instituto de Investigaciones de la Amazonía Peruana).</li>
        </ul>

        <h3>Cita sigerida</h3>
        <p class="justificado">
            Si necesita citar esta página web, le sugerimos la siguiente forma:
            <br />Zárate, R.; Palacios, J. J.; Jung, N. I.; Ramos, M. C.; Mendez, E. A.; Mozombite, L. F.; Jarama, A. R.; Fachín, L. M.; Rondona, I. y Pinheiro, J. V.  [en línea]: 2017-hasta la fecha. Iniciativa del Servicio Web del Mapa Global de Publicaciones. Instituto de Investigaciones de la Amazonía Peruana. Versión 1.Iquitos, Perú. www.iiap.org.pe/mapa_publicaciones.
        </p>
    </div>

</div>
