@{
    ViewBag.Title = "Inicio";
}

<style>
    .iframePop {
        min-height:200px;
        border-width: 0px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }
    .ol-popup-content {
        min-height: 210px;
        min-width: 140px;
        overflow-x: auto;

    }
      .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 200px;
        display:table;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
        font-size: 150%;
        padding: 0 4px;
        color: #337ab7;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
    </style>

<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Visor del Mapa de Publicaciones</h1>
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-9">
        <div style="width: 100%; height: 600px; background-color:white;"  id="map"></div>
    </div>

    <div class="col-md-3">
        <h3>Iniciativa del Servicio Web del Mapa Global de Publicaciones</h3>
        <p class="justificado">
            La presente página web es una iniciativa ambiciosa para elaborar un mapa de las investigaciones y publicaciones realizadas en el territorio, primero amazónico en el Perú y luego esperamos extenderlo en el resto del territorio. Se pueden generar búsquedas especializadas por divisiones políticas y otras formas. También se puede generar cuentas de usuario para someter el área de estudio de sus publicaciones, las cuales serán atendías por los administradores a la brevedad posible, esto permitirá una actualización de mapa.
            El mapa de coordenadas geográficas de las publicaciones ayudará a conocer panorámicamente las áreas y los componentes estudiados, y también identificaremos los territorios menos investigados; convirtiéndose en una herramienta de toma de decisiones para priorizar lugares y áreas temáticas optimizando recursos...
            <a href="@Url.Action("Acerca", "Inicio")">Seguir leyendo</a>
        </p>
    </div>

</div>

<!-- /.row -->

<!-- /.row -->

<script type="text/javascript">

    /*var vista = new ol.View({
        projection: "EPSG:4326",
        center: ol.proj.transform(
                [-74, -4], 'EPSG:4326', 'EPSG:3857'),
        zoom: 6,
    });*/

    var vista = new ol.View({
        center: ol.proj.transform(
            [-74, -5], 'EPSG:4326', 'EPSG:3857'),
        zoom: 6
    });


    var map = new ol.Map({
        target: 'map',
        view: vista,
        logo: {
            href: "http://www.iiap.org.pe",
            src: '@(Request.Url.AbsoluteUri + "/Public/img/logo.png")'
        },

        controls: ol.control.defaults().extend([
            /*new ol.control.MousePosition({
                coordinateFormat: ol.coordinate.toStringHDMS,
            }),*/
            new ol.control.ScaleLine(),
            new ol.control.ZoomSlider(),
        ]),

        layers: [
        new ol.layer.Tile({
            source: new ol.source.OSM({
                url: 'http://mt{0-3}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',
                attributions: [
                    new ol.Attribution({ html: '© Google' }),
                    new ol.Attribution({ html: '<a href="https://developers.google.com/maps/terms">Terms of Use.</a>' })
                ]
            })
        })
        ],

    });




    //vista.fit([-8,40,0,45], map.getSize());

    var wmsLayer100 = new ol.layer.Tile({
        type: 'base',
        title: 'Mapa Base',
        source: new ol.source.TileWMS({
            url: 'http://www.ign.es/wms-inspire/pnoa-ma',
            params: {
                LAYERS: 'OI.OrthoimageCoverage',
                FORMAT: 'image/jpeg'
            },
        })
    });
    //map.addLayer(wmsLayer100);

    var wmsLayer1 = new ol.layer.Tile({
        type: 'base',
        title: 'Mapa Base',
        source: new ol.source.TileWMS({
            url: 'http://10.10.10.14:8082/geoserver/visor/wms',
            params: {
                LAYERS: 'visor:departamentos ',
                FORMAT: 'image/png'
            },
        })
    });
    map.addLayer(wmsLayer1);

    var wmsLayer12 = new ol.layer.Tile({
        title: 'Distritos',
        source: new ol.source.TileWMS({
            url: 'http://10.10.10.14:8082/geoserver/visor/wms',
            params: {
                LAYERS: 'visor:distritosloreto ',
                FORMAT: 'image/png'
            },
        })
    });
    map.addLayer(wmsLayer12);

    var wmsLayer13 = new ol.layer.Tile({
        title: 'Flujos de agua',
        source: new ol.source.TileWMS({
            url: 'http://10.10.10.14:8082/geoserver/visor/wms',
            params: {
                LAYERS: 'visor:flujodeagualinea ',
                FORMAT: 'image/png'
            },
        })
    });
    //map.addLayer(wmsLayer13);



    var wmsLayer2 = new ol.layer.Tile({
        title: 'Puntos Publicaciones',
        source: new ol.source.TileWMS({
            url: 'http://10.10.10.14:8082/geoserver/visor/wms',
            params: {
                'LAYERS': 'visor:view_pointpublicacion',
                FORMAT: 'image/png'
            },
            buffer: 200,
            visibility: true
        }),
    });

    map.addLayer(wmsLayer2);

    var wmsLayer3 = new ol.layer.Tile({
        title: 'Área Publicaciones',
        source: new ol.source.TileWMS({
            url: 'http://10.10.10.14:8082/geoserver/visor/wms',
            params: {
                'LAYERS': 'visor:view_poligonspublicacion',
                FORMAT: 'image/png'
            },
            buffer: 200,
            visibility: true
        }),
    });

    map.addLayer(wmsLayer3);


    


    var layerSwitcher = new ol.control.LayerSwitcher({
        tipLabel: 'Leyenda'
    });






    map.addControl(layerSwitcher);


    var popup = new ol.Overlay.Popup();
    map.addOverlay(popup);


    map.on('singleclick', function (evt) {
        t = '';
        var viewResolution = (vista.getResolution());

        //Todo: devolver un JSON
        var url = wmsLayer2.getSource().getGetFeatureInfoUrl(
            evt.coordinate, viewResolution, 'EPSG:3857',
            {'INFO_FORMAT': 'text/html'});
        if (url) {

           /* t = '<iframe class="iframePop" seamless src="' + url + '"></iframe>';
            popup.show(evt.coordinate, t);*/

            $.get(url).success(function (data) {
                if ($(data).find('tbody').html()) {
                    t = '<iframe class="iframePop" seamless src="' + url + '"></iframe>';
                    popup.show(evt.coordinate, t);
                }

            });
            

        }
        
    });


   /*map.on('pointermove', function (evt) {
        if (evt.dragging) {
            return;
        }
        var pixel = map.getEventPixel(evt.originalEvent);

        var hit = map.forEachLayerAtPixel(pixel, function (layer) {
            console.log(layer.p.type)
            return true;
        });
        map.getTargetElement().style.cursor = hit ? 'pointer' : '';
        
    });*/


</script>
