
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="http://iiap.org.pe/favicon.ico" type="image/x-icon">


    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        html {
            background: #98d684;
        }

        body {
            background: #98d684;
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
        }

        .login-form-wrap {
            background: -webkit-radial-gradient(center ellipse, #5170ad 0%, #355493 100%);
            background: radial-gradient(ellipse at center, #47cf73 0%, #439335 100%);
            border: 1px solid #42a045;
            box-shadow: 0 1px #19a948 inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            width: 360px;
            height: 360px;
            margin: 60px auto;
            padding: 30px 30px 0 30px;
            text-align: center;
        }

            .login-form-wrap h1 {
                margin: 0 0 20px 0;
                padding: 0;
                font-size: 21px;
                color: #fff;
            }

         .login-form input[type="text"] {
            width: 100%;
            border: 1px solid #24921f;
            padding: 12px 20px;
            font-weight: 400;
            font-family: 'Lato', sans-serif;
            cursor: text;
        }


        .login-form button[type="button"] {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            background: #ec8021;
            display: block;
            margin: 5px auto 0 auto;
            width: 100%;
            border: none;
            border-radius: 3px;
            padding: 8px;
            font-size: 17px;
            color: #fffcfc;
            font-weight: 700;
            cursor: pointer;
        }

            .login-form button[type="button"]:hover {
                background: #e66f07;
            }

        .login-form button[type="button"]:active {
            padding-top: 9px;
            padding-bottom: 7px;
            background: #e66f07;
        }

        .form-group label {
            font-weight: 600;
            font-size: 14px;
            color: #353a3f;
            margin-bottom: 5px;
            display: block;
        }

        .form-group {
            text-align: left;
        }

            .form-group input {
                border-radius: 8px;
                padding-bottom: 13px;
                margin-bottom: 5px;
            }

        .form-group input:focus {
            border-color: #2188ff;
            outline: none;
        }

        section.content-center {
            text-align: center;
            width: 500px;
            background-color: #fff;
            border-radius: 10px;
            margin: 60px auto;
        }

        .content-img {
            background: radial-gradient(ellipse at center, #47cf73 0%, #439335 100%);
            border-radius: 10px 10px 0px 0px;
            padding: 14px;
        }

        .content-body {
            padding: 15px;
        }

        .alert-danger {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        .alert-dismissable, .alert-dismissible {
            padding-right: 35px;
        }

        .alert-dismissable, .alert-dismissible {
            padding-right: 35px;
        }

        .alert {
            padding: 5px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            font-size: 13px;
        }

        .alert-dismissable .close, .alert-dismissible .close {
            position: relative;
            top: -2px;
            right: -21px;
            color: inherit;
        }
    </style>

</head>
<body cz-shortcut-listen="true">
    <section id="create" class="login-form-wrap">
        <img class="pull-right" src="http://iiap.org.pe/visor/img/logoiiap.png" alt="DSpace logo" style="width: 50px;">

        <div class="login-form" autocomplete="off">
            <h1>Restablece tu contraseña</h1>

            <div class="form-group">
                <label>Ingrese la dirección de correo electrónico verificada de su cuenta de usuario y le enviaremos un enlace para restablecer su contraseña.</label>
                <input type="text" id="txtEmail" placeholder="Ingrese su correo" name="txtEmail" required="">
            </div>
            <div id="msg"></div>
            <div class="form-group required">
            </div>
            <button id="btnEnviar" type="button"> Enviar </button>
        </div>
    </section>
    <section id="success" class="content-center" style="display:none;" >
        <div class="content-img">
            <img class=" pull-right" src="http://iiap.org.pe/visor/img/logoiiap.png" alt="DSpace logo" style="width: 85px;">
        </div>
        <div class="content-body">
            <p> Le enviamos un correo con un link para restablecer su contraseña. Por favor revise su bandeja de entrada. </p>
        </div>
    </section>

    <script>
        document.getElementById('btnEnviar').addEventListener('click', function () {
            SolicitarResetPassword();
        });

        function SolicitarResetPassword() {
            let mail = document.getElementById("txtEmail").value;

            if (ValidateEmail(mail)) {
                let jsonData = { cEmail: mail};
                let formattedJsonData = JSON.stringify(jsonData);

                let req = new XMLHttpRequest();
                req.open('POST', '@Url.Action("CreatePasswordReset", "Reset")', true);
                req.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

                req.onload = function () {
                    if (req.status >= 200 && req.status < 400) {
                        let res = JSON.parse(req.responseText);
                        console.log(res);

                        if (res == 0) {
                            document.getElementById('create').style.display = "none";
                            document.getElementById('success').style.display = "";
                        } else if (res == -1) {
                            ShowError("Hay un error. Por favor inténtelo en otro momento.")
                        } else if (res == -2) {
                            ShowError("Este correo no se encuentra registrado.")
                        }

                    } else {
                        console.log('We encountered an error!');
                    }
                }

                req.send(formattedJsonData);
            }
        }

        function ValidateEmail(email){
            let emailRegex = /^[-\w.%+]{1,64}@@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
            return emailRegex.test(email);
        }

        function ShowError(msg) {

            document.getElementById("msg").innerHTML =
                `<div class="alert alert-danger alert-dismissible text-center" role="alert" style="margin-bottom: 10px;">
                    <strong>Error! </strong>${msg}
                </div>`;
        }
    </script>

</body>
</html>