
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="http://iiap.org.pe/favicon.ico" type="image/x-icon">


    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        html {
            background: #98d684;
        }

        body {
            background: #98d684;
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
        }

        .login-form-wrap {
            background: -webkit-radial-gradient(center ellipse, #5170ad 0%, #355493 100%);
            background: radial-gradient(ellipse at center, #47cf73 0%, #439335 100%);
            border: 1px solid #42a045;
            box-shadow: 0 1px #19a948 inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            width: 360px;
            height: 750px;
            margin: 60px auto;
            padding: 30px 30px 0 30px;
            text-align: center;
        }

            .login-form-wrap h1 {
                margin: 0 0 20px 0;
                padding: 0;
                font-size: 26px;
                color: #fff;
            }

            .login-form-wrap h5 {
                margin-top: 40px;
            }

                .login-form-wrap h5 > a {
                    font-size: 14px;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 400;
                }

        .login-form input[type="email"], .login-form input[type="text"], .login-form input[type="password"] {
            width: 100%;
            border: 1px solid #24921f;
            padding: 12px 20px;
            font-weight: 400;
            font-family: 'Lato', sans-serif;
            cursor: text;
        }

        .login-form input[type="email"], .login-form input[type="text"] {
            border-radius: 8px;
            padding-bottom: 13px;
        }

        .login-form input[type="password"] {
            border-top: none;
            border-radius: 8px;
            box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.23) inset, 0 1px 2px rgba(255, 255, 255, 0.1);
        }

        .login-form #btnSave {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            background: #ec8021;
            display: block;
            margin: 5px auto 0 auto;
            width: 100%;
            border: none;
            border-radius: 3px;
            padding: 8px;
            font-size: 17px;
            color: #fffcfc;
            font-weight: 700;
            cursor: pointer;
        }

        .login-form #btnSave {
            background: #e66f07;
        }

        .login-form #btnSave {
            padding-top: 9px;
            padding-bottom: 7px;
            background: #e66f07;
        }

        .form-group label {
            font-weight: 600;
            font-size: 14px;
            color: #353a3f;
            margin-bottom: 5px;
            display: block;
        }

        .form-group {
            text-align: left;
        }

            .form-group input {
                border-radius: 8px;
                padding-bottom: 13px;
                margin-bottom: 5px;
            }

            .form-group.required label:after {
                padding-left: 5px;
                color: #cb2431;
                content: "*";
            }

        h2 {
            color: #fffcfc;
        }

        span {
            min-height: 17px;
            color: #353a3f;
            font-size: 12px;
        }

        .form-group input:focus {
            border-color: #2188ff;
            outline: none;
        }

        .alert-danger {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        .alert-dismissable, .alert-dismissible {
            padding-right: 35px;
        }

        .alert-dismissable, .alert-dismissible {
            padding-right: 35px;
        }

        .alert {
            padding: 5px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            font-size: 13px;
        }

        .text-center {
            text-align: center;
        }

        .alert-dismissable .close, .alert-dismissible .close {
            position: relative;
            top: -2px;
            right: -21px;
            color: inherit;
        }

        .has-error label {
            color: #a94442;
        }

        .has-error input {
            border-color: #a94442;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }

        section.content-center {
            text-align: center;
            width: 500px;
            background-color: #fff;
            border-radius: 10px;
            margin: 60px auto;
        }

        .content-img {
            background: radial-gradient(ellipse at center, #47cf73 0%, #439335 100%);
            border-radius: 10px 10px 0px 0px;
            padding: 14px;
        }

        .content-body {
            padding: 15px;
        }

        p {
            line-height: 27px;
        }

        .text-bold {
            font-weight: 600 !important;
        }

        .text-red {
            color: #cb2431 !important;
        }

        .text-green {
            color: #28a745 !important;
        }

        div#valid-password {
            background-color: #c6ffc3;
            padding: 10px;
            border-radius: 5px;
        }
    </style>

</head>
<body cz-shortcut-listen="true">
    <section id="create" class="login-form-wrap">
        <img class="pull-right" src="http://iiap.org.pe/visor/img/logoiiap.png" alt="DSpace logo" style="width: 50px;">

        <form class="login-form" autocomplete="off">
            <h1>
                Crea tu cuenta
            </h1>
            <div id="msg"></div>
            <div class="form-group required">
                <label>Nombre </label>
                <input type="text" id="txtNombre" name="txtNombre" style="margin-top: 0px;" required>
            </div>
            <div class="form-group required">
                <label>Apellido Paterno</label>
                <input type="text" id="txtApePa" name="txtApePa" required>
            </div>
            <div class="form-group required">
                <label>Apellido Materno</label>
                <input type="text" id="txtApeMa" name="txtApeMa" required>
            </div>
            <div class="form-group">
                <label>Institución</label>
                <input type="text" id="txtInst" name="txtInst">
            </div>
            <div id="mail" class="form-group required">
                <label>Correo</label>
                <input type="text" id="txtEmail" name="txtEmail" autocomplete="off" required>
            </div>
            <div class="form-group required">
                <label>Contraseña</label>
                <input type="password" id="txtPassword" name="txtPassword" required>
                <div id="valid-password"> 
                    <span>Asegúrese de que tenga</span> 
                    <span id="val1">al menos 15 caracteres</span>
                    <span> O </span>
                    <span id="val2">al menos 8 caracteres </span>
                    <span id="val3">incluyendo un número</span>
                    <span id="val4"> y una letra minúscula.</span>
                </div>
            </div>
            <button id="btnSave" type="button" value="">Crear Cuenta</button>
        </form>
    </section>
    <section id="success" class="content-center" style="display:none;">
        <div class="content-img">
            <img class=" pull-right" src="http://iiap.org.pe/visor/img/logoiiap.png" alt="DSpace logo" style="width: 85px;">
        </div>
        <div class="content-body">
            <p>Muchas gracias por registrar sus datos. Le enviamos un correo con un link para realizar la activación de su cuenta. </p>
        </div>
    </section>

    <script>

        function SaveAccount() {
            if (Validate()) {
                let cNomb = document.getElementById("txtNombre").value;
                let cApePa = document.getElementById("txtApePa").value;
                let cApeMa = document.getElementById("txtApeMa").value;
                let cInst = document.getElementById("txtInst").value;
                let cEmail = document.getElementById("txtEmail").value;
                let cPass = document.getElementById("txtPassword").value;

                let jsonData = { cNombres: cNomb, cApellidoPa: cApePa, cApellidoMa: cApeMa, cInstitucion: cInst, cEmail: cEmail, cContrasena: cPass };
                let formattedJsonData = JSON.stringify(jsonData);

                let req = new XMLHttpRequest();
                req.open('POST', '@Url.Action("SaveAccount", "Join")', true);
                req.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

                req.onload = function () {
                    if (req.status >= 200 && req.status < 400) {
                        let res = JSON.parse(req.responseText);
                        console.log(res);
                        if (res == 0) {
                            document.getElementById('create').style.display = "none";
                            document.getElementById('success').style.display = "";
                        } else if (res == -1) {
                            ShowError("No se pudo registrar la cuenta. Por favor inténtelo en otro momento.")
                        } else if (res == -2) {
                            ShowError("El correo ya se encuentra registrado. Intente con otro correo.")
                        } else if (res == -10) {
                            ShowError("Los datos no cumplen las validaciones necesarias.")
                        }
                    } else {
                        console.log('We encountered an error!');
                    }
                }

                req.send(formattedJsonData);
            } else {
                let error = document.querySelector(".login-form .has-error input");

                if (error != null) {
                    error.focus();
                }
                
            }
        }


        document.getElementById('btnSave').addEventListener('click', function () {
                SaveAccount();
        });

        function ShowError(msg) {

            document.getElementById("msg").innerHTML =
                `<div class="alert alert-danger alert-dismissible text-center" role="alert" style="margin-bottom: 10px;">
                    <strong>Error! </strong>${msg}
                </div>`;
        }

        function HideError() {
            document.getElementById("msg").innerHTML = "";
        }

        function ExistError() {
            if (document.querySelector(".login-form .has-error") == null) {
                return false;
            }
            return true;
        }


        function RequiredError() {
            document.querySelectorAll(".login-form .required").forEach(
                e => {
                    if (e.querySelector("input").value == "") {
                        e.classList.add("has-error");
                    } else {
                        e.classList.remove("has-error");
                    }
                });

            let email = document.getElementById("txtEmail").value;
            if (ValidateEmail(email)) {
                document.getElementById("mail").classList.remove("has-error");
            } else {
                document.getElementById("mail").classList.add("has-error");
            }

        }

        var val1 = false;
        var val2 = false;
        function ValidateRequiredOK() {
            RequiredError();
            let existError = ExistError();

            if (existError) {
                if (document.querySelector(".login-form .has-error:not(#mail)") != null) {
                    ShowError("Es necesario completar los campos obligatorios");
                } else {
                    ShowError("Ingrese un formato de correo válido");
                }
            } else {
                if (val1 || val2) {
                    existError = false;
                } else {
                    existError = true;
                }
            }

            return !existError;
        }

        function Validate() {
            HideError();
            document.querySelectorAll(".login-form .required input").forEach(i => {
                i.addEventListener('keyup', function (e) {
                    RequiredError();
                });
            });

            //Validate Required
            if (!ValidateRequiredOK()) return false;

            return true;
        }

        document.getElementById("txtPassword").addEventListener("keyup", function () { ValidatePassword(this.value) });


        function ValidatePassword(input){
            console.log(input);
            let length = input.length;
            val1 = false;
            val2 = false;
            document.querySelectorAll("#val1,#val2,#val3,#val4").forEach(e => e.classList.remove('text-bold', 'text-red', 'text-green'));
            document.querySelectorAll("#val1,#val2,#val3,#val4").forEach(e => e.classList.add('text-bold', 'text-red'));
            if (length >= 15) {
                document.getElementById("val1").classList.add('text-green');
                document.querySelectorAll("#val2,#val3,#val4").forEach(e => e.classList.remove('text-bold', 'text-red', 'text-green'));
                val1 = true;
            } else {

                if (length >= 8) {
                    document.getElementById("val2").classList.add('text-green');
                }

                if (/[0-9]/.test(input)) {
                    document.getElementById("val3").classList.add('text-green');
                }

                if (/[a-z]/.test(input)) {
                    document.getElementById("val4").classList.add('text-green');
                }

                if (length >= 8 && /[a-z]/.test(input) && /[0-9]/.test(input)) {
                    document.getElementById("val1").classList.remove('text-bold', 'text-red', 'text-green');
                    val2 = true;
                }

            }
        }

         function ValidateEmail(email){
            let emailRegex = /^[-\w.%+]{1,64}@@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
            return emailRegex.test(email);
        }




    </script>

</body>
</html>